# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Goland dependencies (pulling will throw an error if this is being tracked)
.idea/

# Ignore the go sum, the developer should be responsible for calling tidy
go.sum
